## Ejercicios de Pandas DataFrame: Nivel Básico
Estos ejercicios se centran en la creación fundamental de DataFrames, operaciones básicas de columnas y filas, y selecciones sencillas.

### Ejercicio 1: Crear un DataFrame a partir de Múltiples Listas
Crea un DataFrame llamado `class_roster_df` con las siguientes columnas: `StudentID`, `Name`, `Major` y `Credits`. Utiliza listas separadas para los datos de cada columna:
```python
student_ids = [101, 102, 103, 104, 105]

names = ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'Diana Prince', 'Eve Adams']

majors = ['Computer Science', 'Physics', 'Mathematics', 'Biology', 'Chemistry']

credits = [120, 90, 105, 110, 85]
```

### Ejercicio 2: Crear un DataFrame a partir de un Diccionario de Listas
Crea un DataFrame llamado `book_sales_df` a partir del siguiente diccionario. Asegúrate de que los nombres de las columnas sean `BookID`, `Title`, `Author` y `CopiesSold`.

```Python

book_data = {
    'BookID': [1, 2, 3, 4, 5],
    'Title': ['The Great Gatsby', '1984', 'To Kill a Mockingbird', 'Pride and Prejudice', 'Moby Dick'],
    'Author': ['F. Scott Fitzgerald', 'George Orwell', 'Harper Lee', 'Jane Austen', 'Herman Melville'],
    'CopiesSold': [1500, 2000, 1800, 1200, 900]
}
```
### Ejercicio 3: Inspeccionar un DataFrame
Para `book_sales_df`, muestra:
- a. Las primeras 3 filas.
- b. Las últimas 2 filas.
- c. Información sobre el DataFrame (como tipos de datos y recuentos no nulos).
- d. Solo los nombres de las columnas.

### Ejercicio 4: Añadir una Columna Sencilla
Añade una nueva columna llamada `PricePerCopy` a `book_sales_df`. Asume que cada libro cuesta $15.00.

### Ejercicio 5: Selección Básica de Columnas
De `class_roster_df`, muestra solo las columnas `Name` y `Major`.

### Ejercicio 6: Selección Básica de Filas por Índice
De `class_roster_df`, muestra la fila correspondiente al estudiante con índice 2 (Charlie Brown).

### Ejercicio 7: Filtrar Filas por una Condición
De `book_sales_df`, muestra todos los libros donde `CopiesSold` sea mayor que 1500.

Ejercicio 8: Actualizar un Solo Valor
En class_roster_df, actualiza los 'Credits' de Alice Smith de 120 a 125.

Ejercicio 9: Eliminar una Columna
De book_sales_df, elimina la columna 'BookID'. Muestra el DataFrame después de la eliminación.

Ejercicio 10: Renombrar una Columna
En class_roster_df, renombra la columna 'Credits' a 'TotalCredits'. Muestra el DataFrame con el nuevo nombre de columna.

Ejercicios de Pandas DataFrame: Nivel Intermedio
Estos ejercicios implican una manipulación de datos más compleja, incluyendo columnas calculadas, múltiples filtros, manejo de datos faltantes y reordenamiento.

Ejercicio 11: Crear un DataFrame a partir de una Lista de Diccionarios
Crea un DataFrame llamado employee_data_df a partir de la siguiente lista de diccionarios. Asegúrate de que los nombres de las columnas sean apropiados: 'EmployeeID', 'FirstName', 'LastName', 'Department', 'Salary'.

Python

employees = [
    {'EmployeeID': 1, 'FirstName': 'John', 'LastName': 'Doe', 'Department': 'HR', 'Salary': 60000},
    {'EmployeeID': 2, 'FirstName': 'Jane', 'LastName': 'Smith', 'Department': 'IT', 'Salary': 75000},
    {'EmployeeID': 3, 'FirstName': 'Peter', 'LastName': 'Jones', 'Department': 'Finance', 'Salary': 65000},
    {'EmployeeID': 4, 'FirstName': 'Alice', 'LastName': 'Williams', 'Department': 'IT', 'Salary': 80000},
    {'EmployeeID': 5, 'FirstName': 'Bob', 'LastName': 'Brown', 'Department': 'HR', 'Salary': 58000}
]
Ejercicio 12: Añadir una Columna Calculada
A employee_data_df, añade una nueva columna llamada 'AnnualBonus'. Asume que el bono es el 10% de su 'Salary'.

Ejercicio 13: Filtrar con Múltiples Condiciones
De employee_data_df, muestra los empleados que están en el departamento de 'IT' Y tienen un 'Salary' mayor a 70000.

Ejercicio 14: Manejo de Valores Faltantes - Rellenar NaN
Crea un DataFrame llamado project_status_df con los siguientes datos. Rellena cualquier valor faltante en la columna 'CompletionDate' con la cadena 'Not Started'.

Python

import pandas as pd
import numpy as np

project_status = {
    'ProjectID': [1001, 1002, 1003, 1004],
    'ProjectName': ['Alpha', 'Beta', 'Gamma', 'Delta'],
    'Status': ['Completed', 'In Progress', 'On Hold', 'Not Started'],
    'CompletionDate': ['2023-01-15', '2023-03-20', np.nan, np.nan],
    'Budget': [50000, 75000, 60000, 40000]
}
Ejercicio 15: Eliminar Filas con Valores Faltantes en una Columna Específica
Usando project_status_df, elimina cualquier fila donde la columna 'Budget' tenga un valor faltante. (Crea un nuevo DataFrame si previamente rellenaste los NaNs).

Ejercicio 16: Reordenar Columnas
Reordena las columnas en employee_data_df para que sean: 'EmployeeID', 'LastName', 'FirstName', 'Department', 'Salary', 'AnnualBonus'.

Ejercicio 17: Aplicar una Función a una Columna
A employee_data_df, añade una nueva columna 'SalaryCategory'. Si 'Salary' es mayor a 70000, establece el valor como 'High', de lo contrario 'Standard'. Utiliza una función o apply.

Ejercicio 18: Ordenar Datos
Ordena book_sales_df primero por 'Author' en orden ascendente, y luego por 'CopiesSold' en orden descendente.

Ejercicio 19: Añadir una Fila con loc
Añade un nuevo estudiante a class_roster_df usando loc. El nuevo estudiante tiene:

StudentID: 106

Name: 'Frank White'

Major: 'Art History'

Credits: 75

Ejercicio 20: Cambiar el Tipo de Dato de Múltiples Columnas
Crea un DataFrame sensor_data_df con 'Temperature' como cadenas. Convierte tanto 'Temperature' como 'Humidity' a tipos numéricos.

Python

sensor_data = {
    'SensorID': [1, 2, 3, 4],
    'Temperature': ['25.5', '24.9', '26.1', '25.0'],
    'Humidity': [60, 62, 58, 61],
    'Timestamp': ['2023-07-01 10:00', '2023-07-01 10:05', '2023-07-01 10:10', '2023-07-01 10:15']
}
Ejercicios de Pandas DataFrame: Nivel de Desafío
Estos ejercicios desafiarán a los estudiantes a combinar múltiples operaciones, trabajar con una limpieza de datos más compleja y pensar en la agregación de datos.

Ejercicio 21: Limpieza de Datos - Eliminar Duplicados y Estandarizar Texto
Crea un DataFrame customer_feedback_df con posibles entradas duplicadas e inconsistencias en mayúsculas/minúsculas en 'Category'.
a. Identifica y elimina cualquier fila duplicada.
b. Estandariza la columna 'Category' para que todas las entradas estén en formato de título (por ejemplo, 'Complaint' en lugar de 'complaint' o 'COMPLAINT').

Python

feedback_data = {
    'FeedbackID': [1, 2, 3, 4, 5, 6, 7],
    'CustomerID': [100, 101, 102, 100, 103, 104, 102],
    'Category': ['Complaint', 'Suggestion', 'Praise', 'complaint', 'suggestion', 'Bug Report', 'praise'],
    'Rating': [3, 5, 4, 3, 4, 2, 4]
}
Ejercicio 22: Creación de Columnas Condicionales con Múltiples Condiciones
A employee_data_df, añade una nueva columna llamada 'PerformanceReview'.

Si 'Salary' es > 75000 Y 'Department' es 'IT', establece el valor como 'Excellent'.

Si 'Salary' es > 60000 Y 'Department' es 'HR', establece el valor como 'Good'.

De lo contrario, establece el valor como 'Average'.

Ejercicio 23: Dividir una Columna y Extraer Información
De class_roster_df, crea dos nuevas columnas: 'FirstName' y 'LastName' dividiendo la columna existente 'Name'.

Ejercicio 24: Manejo de Tipos de Datos Mixtos y Errores de Conversión
Crea un DataFrame transaction_data_df con la columna 'Amount' que podría tener entradas no numéricas.
a. Identifica las filas donde 'Amount' no se puede convertir a un número.
b. Convierte la columna 'Amount' a un tipo numérico, forzando los errores a NaN.
c. Rellena estos nuevos NaNs con la media de la columna 'Amount'.

Python

transaction_data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'Item': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Printer'],
    'Amount': ['1200.50', '25.00', '75.99', '300.00', 'error'],
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
Ejercicio 25: Agregación de Datos (Agrupación Básica)
Usando employee_data_df, calcula el 'Salary' promedio para cada 'Department'.

Ejercicio 26: Reestructuración de Datos (Stacking/Unstacking) - Introducción
Crea un DataFrame monthly_sales_df a partir de los siguientes datos. Luego, "despivota" este DataFrame para que 'Month' y 'Sales' se conviertan en columnas, y cada fila represente las ventas de un producto para un mes específico.

Python

monthly_sales = {
    'Product': ['A', 'B', 'C'],
    'Jan_Sales': [100, 150, 120],
    'Feb_Sales': [110, 140, 130],
    'Mar_Sales': [90, 160, 115]
}
Ejercicio 27: Combinar DataFrames (Merge/Join) - Sencillo
Crea dos DataFrames: customers_df y orders_df.
a. Realiza un inner merge de estos dos DataFrames en 'CustomerID' para mostrar los clientes que han realizado pedidos.
b. Realiza un left merge para incluir a todos los clientes, incluso aquellos sin pedidos (mostrando NaN para los detalles del pedido).

Python

customers_data = {
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Charlie', 'Dana', 'Erin', 'Frank'],
    'City': ['New York', 'London', 'Paris', 'Tokyo']
}

orders_data = {
    'OrderID': [101, 102, 103, 104],
    'CustomerID': [1, 3, 1, 5], # El CustomerID 5 no existe en customers_data
    'Amount': [250, 150, 300, 50]
}
Ejercicio 28: Aplicar Múltiples Transformaciones en Cadena
Comienza con book_sales_df. En una sola cadena de operaciones:
a. Filtra para incluir solo libros con 'CopiesSold' mayor a 1000.
b. Añade una nueva columna 'Revenue' calculada como 'CopiesSold' * 'PricePerCopy'.
c. Ordena los resultados por 'Revenue' en orden descendente.

Ejercicio 29: Trabajar con Fechas y Horas
Usando transaction_data_df (del Ejercicio 24, después de corregir el tipo de 'Amount'):
a. Convierte la columna 'Date' a objetos datetime.
b. Crea una nueva columna 'Month' extrayendo el número de mes de 'Date'.
c. Crea una nueva columna 'DayOfWeek' extrayendo el nombre del día de la semana (por ejemplo, 'Monday').

Ejercicio 30: Filtrado Avanzado y Extracción de Datos
De employee_data_df, identifica y muestra los nombres y salarios de los 3 empleados mejor pagados en el departamento de 'IT'.